<!DOCTYPE html>
<html>
  <head>
    <title>Palladium: <%= query %></title>
    <link rel="stylesheet" href="css/search_results.css">
  </head>
  <body>
    <h1>Palladium</h1>
    <a class="google-images-link" href="https://www.google.com/search?q=<%= query %>&sca_esv=585931027&tbm=isch&source=hp&biw=1436&bih=749&ei=TvZlZfxep63k2g_UqJyYCw&iflsig=AO6bgOgAAAAAZWYEXqiCt19c8BOTzFAnYJr2Me2hWYSp&ved=0ahUKEwj8vb-M8eaCAxWnFlkFHVQUB7MQ4dUDCAc&uact=5&oq=test&gs_lp=EgNpbWciBHRlc3QyCBAAGIAEGLEDMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDMggQABiABBixAzIIEAAYgAQYsQMyCBAAGIAEGLEDSO8EUABY1AJwAHgAkAEAmAE4oAHWAaoBATS4AQPIAQD4AQGKAgtnd3Mtd2l6LWltZ8ICBBAAGAPCAgsQABiABBixAxiDAcICBRAAGIAE&sclient=img">Google Images Search</a>
    <div class="search-box-div" id="search-box-div">
      <form action="/search">
        <input name="q" class="main-input" id="main-input" value="<%= query %>"></input>
      </form>
    </div>
    <div id="main-results">
      <% for (let result of results) { %>
        <div id="<%= result.title %>">
          <h3><a href="https://<%= result.url %>" class="url" ><%= result.title %></a></h3>
          <p class="description" ><%= result.description %></p>
          <p class="engine" ><%= result.engine %></p>
          <br><br>
        </div>
      <% } %>
    </div>
  </body>
</html>
